.button_create_user_button {
  background-color: #fab43d;
  border: 0px;
  border-radius: 3px;
  color: white;
  height: 35px;
  width: 180px;
}

.button_create_user_icon {
  color: white;
  font-size: 15px;
  margin-right: 5px;
}
