.search_content_search {
  width: 100%;
  background-color: white;
  height: 40px;
  display: flex;
  border-radius: 2px;
}

.search_input {
  border: 0px;
  width: 100%;
  padding: 7px 60px 9px 15px;
  border-radius: 2px;
  background-color: #fff;
  outline: none;
}

.search_button {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  background-color: white;
  padding: 7px 5px 9px 5px;
  border: 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  color: #8d8e8e;
}

.search_icon {
  color: #fab43d;
  font-size: 15px;
}
