.home_content {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.home_content_search {
  display: flex;
  margin-bottom: 15px;
}

.home_search {
  width: 40%;
}

.home_button {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.home_title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  .home_title_test {
    color: #a1a4a5;
  }
  .home_title_beetrack {
    color: #6a6a6a;
  }
}
