* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
}

html,
body {
  background-color: #e5e5e5;
  padding-left: 4%;
  padding-right: 4%;
}

button {
  background-color: #fab43d;
  border: 0px;
  border-radius: 3px;
  color: white;
  height: 35px;
}

.pointer {
  cursor: pointer;
}

.word_bold {
  font-weight: bold;
  color: #737577;
}

.required {
  color: red;
}
